
.cart{
    max-width: 820px;
    margin: 90px auto;

    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30px;
        border-bottom: 1px solid #F7F7F7;
    }

    &__title{
        display: flex;
        align-items: center;
        gap:12px;
        font-size: 32px;
    }

    &__basket{
        display: flex;
        align-items: center;
        gap:5px;
        color: #B6B6B6;
        font-size: 16px;
    }

}
