

ul{
    padding: 0;
    display: flex;
    gap:10px;
   
    button{
        border: none;
        background-color: transparent;
        padding: 10px 20px;
        color: #7B7B7B;
        border-radius: 30px;
        font-size: 16px;
        transition: background-color 0.1s ease-in-out;

        &:hover{
            color:#fff;
            background-color: #ccc;
        }

        &.active{
            color:#fff;
            background-color:#000;
        }
    }
}


@media(max-width: 920px){
    ul{
        flex-wrap: wrap;
        width: 450px;
        justify-content: center;
        margin-bottom: 20px;
    }
}

@media(max-width: 620px){
    ul{
        width: 350px;
        button{
            padding: 10px;
        }
    }
}