.input{
   border: 1px solid #ccc; 
   border-radius: 5px;
   padding:5px 15px;
   width: 300px;
   outline: none;
}

.search__delete{
   width: 15px;
   height: 15px;
   position: relative;
   left: -85px;
   
}