
.item{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #F7F7F7;

    &__title{
        display: flex;
        align-items: center;
        gap:15px;
        
        h4{
            font-size: 22px;
        }

        p{
            font-size: 18px;
            color: #8D8D8D;
        }
    }

    &__number{
      display: flex;
      justify-content: center;
      align-items: center;  
      gap:10px;
    }
   button{
    width: 32px;
    height: 32px;
    color: #FE5F1E;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #FE5F1E;
    cursor: pointer;
   }

   span{
    font-size: 22px;
   }
   
   &__price{
    font-size: 22px;
   }
}