
.sort{
    position: relative;
    &__label{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:7px;
        color: #2C2C2C;
        cursor: pointer;
    }
    span{
        color: #FE5F1E;
        font-weight: 400;
        border-bottom: 1px dashed #FE5F1E;
    }

    .sort-popup{
        right: 0;
        margin-top: 15px;
         position: absolute;
         width: 135px;
         background-color: #fff;
         box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
        border-radius: 10px;
        padding: 10px 0;
        ul{
            display: inline-block;
        }
        li{
            padding: 12px 20px;
            cursor: pointer;

            &.active,
            &:hover {
             background: rgba(254, 95, 30, 0.05);
            }
            &.active {
                font-weight: bold;
                color: #FE5F1E;
            }
        }
    }

}
